<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qst.risk.mapper.AptitudeMapper">

    <update id="updateAptitude" parameterType="com.qst.risk.entity.Aptitude">
        update aptitude set apt_credit=#{apt_credit} where apt_loa_id=#{apt_loa_id}
    </update>
</mapper>