<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qst.risk.mapper.RiskMapper">

    <update id="updateRisk" parameterType="com.qst.risk.entity.Risk">
        update risk set credit_line=#{credit_line} where risk_id=#{risk_id}
    </update>

    <select id="findById" resultType="com.qst.risk.entity.Risk" parameterType="int">
        select * from risk where risk_id=#{riskId}
    </select>
</mapper>